:root {
  --primary: #3d405b;
  --default-bg-color: #f4f1de;
  --font-secondary: #f4f1de;
  font-size: 16px;
}

body {
  font-family: "Courier", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  background-color: var(--default-bg-color);
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:visited {
  color: var(--primary);
}

input:focus-visible,
button:focus-visible,
a:focus-visible {
  outline: 2px solid #C60F7B;
  outline-style: auto;
}


@media only screen and (min-width: 600px){
  :root {
    font-size: 18px;
  }
}